@import "tailwindcss";


@theme {
  --color-spectrum-burple: #604bff;
  --color-spectrum-burple-dark: #4D3CCC;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
